<div id="head">
	<div class="row">
		<img src="/cover.jpg" id="cover_photo">
	</div>
	<div class="row hover_row">
		<div class="small-3 small-offset-1 column"><img src="/profile.jpg" id="profile_photo"></div>
		<div class="small-8 column"><h1><%= @card.head %></h1></div>
	</div>
</div>