<div class="row prop <%= 'alternate' if i%2 != 0 %>">
	<div class="small-1 small-offset-1 column"><h2><i class="social foundicon-<%= prop.k %>" style="color:#BDC3C7"></i></h2></div>
  	<div class="small-9 small-offset-1 column"><h2><%= prop.v %></h2></div>
</div>