<p id="notice"><%= notice %></p>

<div id="card">
	<%= render partial: 'head'%>
	<% @card.props.each_with_index do |prop, i| %>
		<%= render partial: 'username', locals: {i: i, prop: prop}%>
	<% end %>
</div>
