// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color_0 {
	background-color: #2ECC71;
}

.color_1 {
	background-color: #9B59B6;
}

.color_2 {
	background-color: #F1C40F;
}

.color_3 {
	background-color: #E74C3C;
}

.prop_block * {
	color: white;
}

.key {
	text-align: center;
}

.value {
	text-align: center;
}


#card {
	background-color: white;
	padding: 1px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 7%;
	max-width: 815px;
	box-shadow: 2px 3px 1px #888888;
}

#head h1 {
	color: white
}

#head {
	background-color: #16A085;
	padding-top: 36.87%;
	position: relative;
	overflow: hidden;
}

#cover_photo {
	position: absolute;
	top: 0%;
}

.hover_row {
	position: absolute;
	top: 20%;
}

#profile_photo {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	padding: 3%;
}

.side_icon {
	color: #BDC3C7;
}

.prop * {
	color: #555;
}

.prop {
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.alternate {
	background-color: white;
}