// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
	padding-bottom: 2%;
}

.prop_block * {
	color: white;
}

.text_block {
	min-height: 140px;
	line-height: 60px;
}

.profile_photo_block {
	padding: 0%;
}

.key {
	margin-left: 10%;
}

.value {
	text-align: center;
}


#card {
	background-color: white;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4%;
	padding-right: 6px;
	padding-left: 6px;
	max-width: 815px;
	box-shadow: 2px 3px 1px #888888;
}

#head h1 {
	color: white
}

#head {
	background-color: #16A085;
	padding-top: 36.87%;
	position: relative;
	overflow: hidden;
}

#cover_photo {
	position: absolute;
	top: 0%;
}

.hover_row {
	position: absolute;
	top: 20%;
}

#profile_photo {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	padding: 3%;
}

.side_icon {
	color: #BDC3C7;
}

.prop * {
	color: #555;
}

.prop {
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;
}

.alternate {
	background-color: white;
}

.color_0 {
	background-color: #1ABC9C;
}

.color_7 {
	background-color: #16A085;
}

.color_1 {
	background-color: #2ECC71;
}

.color_8 {
	background-color: #27AE60;
}

.color_2 {
	background-color: #3498DB;
}

.color_9 {
	background-color: #2980B9;
}

.color_3 {
	background-color: #9B59B6;
}

.color_10 {
	background-color: #8E44AD;
}

.color_4 {
	background-color: #F1C40F;
}

.color_11 {
	background-color: #F39C12;
}

.color_5 {
	background-color: #E67E22;
}

.color_12 {
	background-color: #D35400;
}

.color_6 {
	background-color: #E74C3C;
}

.color_13 {
	background-color: #C0392B;
}